In [7]:
age=19
print(f"I am {age} years old")

I am 19 years old

In [9]:
a=10
b=12
x=50+5
print("Literal are:",a,b,"50","5" )
print("Values are: ",a,b,x)

Literal are: 10 12 50 5
Values are:  10 12 55

In [12]:
import math
x=36
print("Square root of x is", math.sqrt(x))

Square root of x is 6.0

In [19]:
x=36
y=(x**0.5)
print("The sqrt of 36 without using the func is", y)

The sqrt of 36 without using the func is 6.0

In [20]:
first='23'
second='42'
print(first+second)

2342

In [23]:
first=10
second='Hello World'
print(second * first)

Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World

In [36]:
first=10
second="Hello World \n"
print(first*second)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [37]:
x=5
print(f"Is {x} 'Not equal' to 8 ?:", x==8)
print(f"Is {x} 'Not equal' to 10?:", x==3)

Is 5 'Not equal' to 8 ?: False
Is 5 'Not equal' to 10?: False

In [38]:
x=10
print(f"Is {x}'greater than'5?:", x>5)
print(f"Is {x}'greater than'10?:", x>10)

Is 10'greater than'5?: True
Is 10'greater than'10?: False

In [39]:
x=4
print(f" Is {x} 'Less than' 4?:",x<4 )
print(f" Is {x} 'Less than' 2?:",x<2 )

 Is 4 'Less than' 4?: False
 Is 4 'Less than' 2?: False

In [40]:
marks=50
print(f"Is {marks} 'Greater than or equal to' 40?:", marks>=40)
print(f"Is {marks} 'Greater than or equal to' 50?:", marks>=40)
print(f"Is {marks} 'Greater than or equal to' 60?:", marks>=40)

Is 50 'Greater than or equal to' 40?: True
Is 50 'Greater than or equal to' 50?: True
Is 50 'Greater than or equal to' 60?: True

In [44]:
age=18
print(f"Is {age} 'less than or equal to'21?:" ,age<=21)
print(f"Is {age} 'less than or equal to'18?:" ,age<=18)
print(f"Is {age} 'less than or equal to'40?:" ,age<=16)

Is 18 'less than or equal to'21?: True
Is 18 'less than or equal to'18?: True
Is 18 'less than or equal to'40?: False

In [46]:
x=y=z=5
y+=3
z*=2
print("Value is x is", x)
print("Value is y is", y)
print("Value is z is", z)

Value is x is 5
Value is y is 8
Value is z is 10

In [47]:
a==18
a//=2
a%=2
print("value of a is",a)

value of a is 0

In [48]:
x=True
x+=10
print(x)

11

In [50]:
s="Adarsh"
s+="Sriram"
print(s)

AdarshSriram

In [53]:
s="Amrita"
s*=3
print(s)

AmritaAmritaAmrita

In [54]:
a=10
b=5
print(f"",a>5 and b<10)
print(f"", a<5 or b<10)
print(f"", not(a<5))

 True
 True
 True

In [ ]:
a=10
b=5
print(f"is {a} greater than 5 and {b} less than 10??", a>5 and b<10)

is 10 greater than 5 and 5 less than 10?? True

In [1]:
a=5
b=3
print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << 1)
print(a >> 1)

1
7
6
-6
10
2

In [2]:
x = 200
y = 200
z=400+0
print(f"Value of x ({x}) is not equal to value of z ({z}) : ",x is not z )

Value of x (200) is not equal to value of z (400) :  True

In [3]:
x= 360
y=360
z=300+0
print(f"x ({x}) is same as y ({y}) : ", x is y)

x (360) is same as y (360) :  False

In [4]:
a="Adarsh Sriram"
b="Adarsh" + "Sriram"
print(a)
print(b)
print(a == b)
print(a is b)

Adarsh Sriram
AdarshSriram
False
False

In [5]:
#10a
#(3 + 2) * (4 - 1) ** 2 / 3
result = (3 + 2) * (4 - 1) ** 2 / 3
print(result)

15.0

In [6]:
#10b
#((2 + 3) * (4 - 1)) ** 2 / (3 + 1 * 2) - 5
#(2+3)=5
#(4-1)=3
#5*3=15
#1*2=2
#3+2=5
#15**2=225
#225/5=45.0
result = ((2 + 3) * (4 - 1)) ** 2 / (3 + 1 * 2) - 5
print("Expression 2 Result:", result)

Expression 2 Result: 40.0

In [7]:
#EXPRESSION 3
#(2 + 1) ** (2 ** 2) - ((3 + 1) * 2)
#(2 + 1)=3
#3+1=4
#2 ** 2 = 4
#3**4=81
#81-8=73
result = (2 + 1) ** (2 ** 2) - ((3 + 1) * 2)
print("Expression 3 Result:", result)

Expression 3 Result: 73

In [8]:
#EXPRESSION 4
#25/5/2
#20/5=4.0
#4.0/2=2.0
result = 20 / 5 / 2
print("Expression 4 Result:", result)

Expression 4 Result: 2.0

In [ ]:
#11a
#8/2=4
#4*3=12
#2+12=14
print(2 + 8/2 * 3)  # Output: 14.0

In [9]:
#11b
#2+8/2**3
#2+1=3
print(2 + 8 / 2 ** 3)

3.0

In [10]:
#11c
#(6 + 3) - 8 / 4 * 2 + 3
#6+3=9
#8/4=2
#2*2=4
#9-4=5
#5+3=8
print((6 + 3) - 8 / 4 * 2 + 3)

8.0

In [11]:
#11d
#2 ** (2 + 3) - 4 / 2 * 2 + 2
#2+3=5
#2**5=32
#4/2=2
#2*2=4
#32-4=28
#28+2=30
print(2 ** (2 + 3) - 4 / 2 * 2 + 2)

30.0

In [ ]:
#11e
#5<6=true
#6<8=true
print(5 < 6 < 8)

True

In [13]:
#11f
print(5 * 3 * 10 - 4 + 6)

152

In [14]:
#11g
x = 4
print("ABC" * x)
#predicted output is ABCABCABCABC

ABCABCABCABC

In [15]:
#11h
#print(int(2 ** 3 / 5))
#2**3=8
#8/5=1.6
print(int(2 ** 3 / 5))

1

In [16]:
#11i
x, y = 7, 2
x, y, x = x + 1, y + 3, x + 10
print(x, y)

17 5

In [ ]:
#11j
name = "Krishna"
age = 21
print("Hello", name, "Your age is", age, end="") #end="" doesnt move to new line after
print(" You will be", age + 1, "Next year")

Hello Krishna Your age is 21 You will be 22 Next year

In [21]:
#11k
name = "Krishna"
age = 21
print("Hello", name, "Your age is", age)
print("You will be", age + 1, "Nextyear")

Hello Krishna Your age is 21
You will be 22 Nextyear

In [ ]:
#12a
a = (1 / 2) * b * h ** 2

In [ ]:
#12b
import math
b = math.sqrt(x)

In [ ]:
#12c
import math
c = 2 * math.pi * r

In [ ]:
#12d
import math
d = math.pi * r ** 2

In [ ]:
#12e
import math
e = math.sqrt((x2 - x1) + (y2 - y1)**2)

In [ ]:
#12f
import math
root1 = -b + (math.sqrt(b ** 2 - 4 * a * c)) / (2 * a)
root2 = -b - (math.sqrt(b ** 2 - 4 * a * c)) / (2 * a)

In [ ]:
#12(a)
a = input('Enter value for a')
print(a)
#a takes the put as a string for example a number and prints the exact same thing.

In [ ]:
#12(b)
a = input('Enter value for a')
b = input('Enter value for b')
print(a + b)
#Takes 2 inputs as string and "+" here is not an arithmetic operatior it is string concatenation.

In [5]:
#12(c)
a = input('Enter value for a')
b = input('Enter value for b')
a = int(a)
b = int(b)
print(a + b)
#takes 2 strings and converts to integers using int()

9

In [4]:
#13
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
num4 = float(input("Enter fourth number: "))
num5 = float(input("Enter fifth number: "))

total = num1 + num2 + num3 + num4 + num5

print("The sum is:", total)

The sum is: 15.0

In [6]:
#14

value1 = input("Enter first value: ")
value2 = input("Enter second value: ")
value3 = input("Enter third value: ")
value4 = input("Enter fourth value: ")
value5 = input("Enter fifth value: ")

result = value1 + value2 + value3 + value4 + value5

print("Concatenated result:", result)

Concatenated result: 32456

In [7]:
#15

radius = float(input("Enter circle radius: "))
area = 3.14 * radius * radius  
print("Circle Area Calculation:")
print("Radius =", radius)
print("Area =", round(area, 2))

Circle Area Calculation:
Radius = 6.0
Area = 113.04

In [8]:
#16
side = float(input("Enter the length of a side: "))
area = 1.732 / 4 * side * side
print("The area is:", round(area, 2))

The area is: 3.9

In [9]:
#17

P =float(input("enter principal amount;"))
R =float(input("enter rate of interest:"))
T =float(input("enter time in years"))
SI = (P*R*T)/100
print("simple interest",SI)

simple interest 21.16

In [11]:
#18

total_seconds = int(input("enter total seconds"))
hours = total_seconds // 3600
minutes =(total_seconds % 3600) // 60
seconds =total_seconds %60
print(f"{hours: 02d}:{minutes: 02d}:{seconds: 02d}")

 0: 2: 3

In [12]:
#19

a=5
b=10
temp=a
a=b
b=temp
print("a=",a,"b=",b)

a= 10 b= 5

In [13]:
a=5
b=10
a,b =b,a
print("a=",a,"b=",b)

a= 10 b= 5

In [14]:

#20
a=int(input("enter jump length (a);"))
k=int(input("enter number o jumps (k):"))
position = a*k
print("final position of frog:",position)

final position of frog: 448

In [15]:
#21

a=int(input("enter units for right jumps (a)"))
b=int(input("enter units for left jumps (b):"))
k=int(input("enter number of jumps (k):"))
right_jumps=(k+1)//2
left_jumps=k//2
position = (right_jumps*a)-(left_jumps*b)
print("final position of frog:", position)

final position of frog: -104